# App
# app modes: production, development, test
MODE="production"

# Http
HTTP_PORT=3000
HTTP_HOST="0.0.0.0"

# Postgres
POSTGRES_HOST="postgres-main"
POSTGRES_PORT=5432
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="root1234"
POSTGRES_DATABASE="todo_list"

# Jwt
JWT_SECRET_KEY="secret_key"
JWT_EXPIRES_IN="1d"
JWT_ACCESS_TOKEN_EXPIRES_IN="1h"
JWT_REFRESH_TOKEN_EXPIRES_IN="1d"
